<h1>Editing post target</h1>

<%= render "form", post_target: @post_target %>

<br>

<div>
  <%= link_to "Show this post target", @post_target %> |
  <%= link_to "Back to post targets", post_targets_path %>
</div>
