<h1>Editing crawler record</h1>

<%= render "form", crawler_record: @crawler_record %>

<br>

<div>
  <%= link_to "Show this crawler record", @crawler_record %> |
  <%= link_to "Back to crawler records", crawler_records_path %>
</div>
