<h1>Editing api call record</h1>

<%= render "form", api_call_record: @api_call_record %>

<br>

<div>
  <%= link_to "Show this api call record", @api_call_record %> |
  <%= link_to "Back to api call records", api_call_records_path %>
</div>
