<%= render @api_call_record %>

<div class="d-flex gap-4 my-4 justify-content-center">
  <%= link_to "Edit", edit_api_call_record_path(@api_call_record), class: 'btn btn-primary' %> 
  <%= link_to "Back", api_call_records_path, class: "btn btn-secondary" %>
  <%= button_to "Destroy", @api_call_record, method: :delete, class: "btn btn-danger" %>
</div>
