<% @cats.each do |cat|%>
    <div class="row mb-4">
        <div class="col col-md-8">
            <h5><%= cat[:name] %></h5>
            <%= render partial: 'shared/post_table', locals: { posts: cat[:posts], pagy: cat[:pagy] } %> 
        </div>
    </div>
<% end %>