<section class="my-2 col-12 col-md-8 mx-auto">
	<table class="table">
		<thead>
			<th>Title</th>
			<th>Category</th>
		</thead>
		<tbody>
		<% @favorites.each do |post| %>
			<tr> 
				<td><%= link_to post.title, post, style: "text-decoration:none" %></td>
				<td><%= link_to post.crawler_setting.category.name, post.crawler_setting.category %></td>
			</tr>
		<% end %>
		</tbody>
	</table>

	<div class="my-5 flex justify-content-center">
		<%== pagy_bootstrap_nav(@pagy) %>
	</div>
</section>