<div class="my-4">
    <h6>API Records</h6>
    <table class="table table-sm table-hover">
        <thead>
            <th></th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            <% api_records.each do |record|%>
            <tr>
                <td> <%= record.sent_status %> </td>
                <td><%= link_to record.post_target.name, record.post_target, style: "text-decoration: none" %></td>
                <td title="<%= time_ago_in_words record.created_at%> ago"> 
                    <%= link_to record.created_at.to_fs(:short), record, style: "text-decoration: none" %> 
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>