<div class="row">
  <div class="col-md-6 mx-auto">
    <h3>New category</h3>

    <%= render "form", category: @category %>

    <div>
      <%= link_to "Back to categories", categories_path %>
    </div>
  </div>
</div>
