<div class="row">
  <div class="col-md-8 mx-auto">
    <h3 class="my-2">New crawler setting</h3>

    <%= render "form", crawler_setting: @crawler_setting %>

    <div>
      <%= link_to "Back to crawler settings", crawler_settings_path %>
    </div>
  </div>

</div>